body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.firstsection {
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.top {
    display: flex;
    align-items: center;
}

.topleft {
    flex: 1;
}

.topimage {
    flex: 1;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

button {
    padding: 6px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

.topbutton {
    background-color: #3882f6;
    color: #F9FAF8;
}